.headerContainer {
    width: 100%;
    height: 50px;
    display: flex;
    background: #212d33;
    align-items: center;
}

.logo {
    width: 144px;
    height: 35px;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-size: 144px 35px;
    background: url('../../assets/header-logo-large.png');
}
