@import './variables.css';
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Titillium+Web:400,700');
@import-normalize;

:global(body) {
    font-size: var(--font-size-base);
    font-family: 'Titillium Web', Arial, Sans-Serif;
    margin: 0;
    background: #000;
    display: block;
    width: 100vw;
    height: 100vh;
}
